<!DOCTYPE html>
<html>
  <head>
    <title>InventoryApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <%= link_to "Items Index", items_path %> | 
    <%= link_to "Create a new item", new_item_path %> | 
    <%= link_to "Stores", stores_path %> | 
    <%= yield %>
  </body>
</html>
